{% extends 'base.html' %}

{% block conteudo %}
    {% set mensagens = get_flashed_messages() %}
    {% if mensagens %}
        {% for msg in mensagens %}
            <div class="message">
                {{ msg }}
            </div>
        {% endfor %}
    {% endif %}
    <form action="/contas/edit-save" method="post">
        <div>
            <label for="saldo">Saldo: </label>
            <input type="number" name="saldo" id="saldo" value="{{dados.saldo}}">
        </div>
        <div>
            <label for="tipo_conta">Tipo de Conta: </label>
            <input type="text" name="tipo_conta" id="tipo_conta" value="{{dados.tipo_conta}}">
        </div>
        <div>
            <label for="cliente">Cliente: </label>
            <select name="cliente_id" id="cliente">
                <option value=""></option>
                {% for c in clientes %}
                <option value="{{c.id}}">{{c.nome}}</option>
                {% endfor %}
            </select>
        </div>
        <input type="hidden" name="id" id="id" value="{{dados.id}}">
        <button type="submit">Salvar</button>
    </form>
{% endblock %}
