{% extends 'base.html' %}

{% block conteudo %}
    {% set mensagens = get_flashed_messages() %}
    {% if mensagens %}
        {% for msg in mensagens %}
            <div class="message">
                {{ msg }}
            </div>
        {% endfor %}
    {% endif %}
    <form action="/clientes/edit-save" method="post">
        <div>
            <label for="nome">Nome: </label>
            <input type="text" name="nome" id="nome" value="{{dados.nome}}">
        </div>
        <div>
            <label for="dist">Email: </label>
            <input type="email" name="email" id="email" value="{{dados.email}}">
        </div>
        <input type="hidden" name="id" id="id" value="{{dados.id}}">
        <button type="submit">Salvar</button>
    </form>
{% endblock %}
