{% extends 'base.html' %}

{% block conteudo %}
    {% set mensagens = get_flashed_messages() %}
    {% if mensagens %}
        {% for msg in mensagens %}
            <div class="message">
                {{ msg }}
            </div>
        {% endfor %}
    {% endif %}
    <div class="adicionar">
        <a href="/clientes/add">Adicionar</a>
    </div>
    <table>
        <tr>
            <th>Nome</th>
            <th>Email</th>
            <th>Editar</th>
            <th>Remover</th>
        </tr>
        {% for c in dados %}
        <tr>
            <td>{{c.nome}}</td>
            <td>{{c.email}}</td>
            <td><a href="/clientes/edit/{{c.id}}">[E]</a></td>
            <td><a href="/clientes/remove/{{c.id}}">[R]</a></td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}
